/* $Id openbadging_badges_view.css */

#block-views-earner-slider-block{
  margin-top: 20px;
}
#block-views-earner-slider-block .content{
  border:1px solid #999999;
  padding: 10px;
}
#block-views-earner-slider-block .content{
  border:1px solid #999999;
  padding: 10px;
}
.view-earned-badges table tr{
  background-color:#ffffff;
  padding:0 10px;
}
.openbadging-badges-awarded-users{
  float: left;
  clear: both;
}

.issuer-origin-view,.issuer-name-view,.issuer-contact-view,.badge-version-view,.badge-name-view,.badge-description-view{
  float:left;
  width:100%;
}
.issuer-details label{
  float: left;
} 
#block-views-exp-badges-all-page .form-item-search-api-views-fulltext input{
  width: 150px;
}


.badge-issuer-teaser-right-view {
  float:right;
  width:30%;
  text-align: center;
}
.badge-issuer-teaser-left-view{
  float:left; 	
  width:70%;
}
.badge-issuer-teaser-right-view img{
  /*margin-top: 10px;*/
}
.badge-issuer-teaser-right-view .earn-view-image img{
  /*margin-top:30px;*/
}
.badge-details label{
  float: left;
}
.issuer-details,.badge-details{
  float:left;
  width:75%;
}
.page-openbadging #openbadging-entity-form .container-inline-date .form-item{
  * margin-top: -20px;
  * margin-left: 70px;
  * width: 100%;
}
.page-openbadging #openbadging-entity-form #edit-field-badge-entity-program .description{
  clear: both;
}
.view-earned-badges table tr td {
  width: 92px;
  float: left;
}
.page-openbadging #page #main .content .field-type-text-long .form-textarea-wrapper{
  width: 35%;
}
.page-openbadging #page #main .form-item .description{
  clear: both;
}
.page-openbadging #page #main .field-name-field-badge-entity-expiration .description, 
.page-openbadging #page #main .field-name-field-badge-entity-issued-date .description {
  margin-left:14px !important;
}
/*.user_own_image img{
    width:200px;
    height:200px;
}*/

.field-name-field-badge-entity-program #edit-field-badge-entity-program-und .form-item{
    float: left;
    clear: both;
}
/*.page-openbadging .image-widget-data{
    padding-left: 8px;
}*/
.field-name-field-badge-entity-criteria input.form-text,
.field-name-field-badge-entity-evidence input.form-text,
.field-name-field-badge-entity-expiration .container-inline-date .form-item input,
.field-name-field-badge-entity-issued-date .container-inline-date .form-item input{
    width:320px;
}
.page-openbadging-add-badges #page #main .form-item .description {
clear: both;
}
.page-openbadging-add-badges .form-type-date-popup{
margin-left:-10px;
}
.field-name-field-badge-entity-issued-date .form-wrapper .fieldset-wrapper,
.field-name-field-badge-entity-expiration .form-wrapper .fieldset-wrapper{
*margin-left:137px;
*margin-top:-40px;
}
.page-openbadging-add-badges .form-item-field-badge-entity-description-und-0-value .description{
padding-top:15px;
}

.form-item-field-badge-entity-expiration-und-0-value,
.form-item-field-badge-entity-issued-date-und-0-value{
margin-left: -10px !important;
}
.view-my-badges .views-field-title{
 text-align: center;
 min-height:60px;
 /*width:160px;
 padding:15px;
 padding-bottom:5px;*/
}
.view-my-ungrouped-badges .views-field-title{
 text-align: center;
 min-height:60px;
 /*width:160px;
 padding-bottom:5px;*/
}
.field-name-field-issuer-org .form-item-field-issuer-org-und-0-value label{
 width: 120px !important;
 *width: 150px !important;
 *margin-left:-30px !important;
}
.field-name-field-issuer-org .form-item-field-issuer-org-und-0-value{
margin-left: -5px !important;
}
/*.my-backpack-badge-image-title{
text-align: center;
width: 160px;
font-size: 0.857em;
padding-bottom: 10px;
}*/
.my-backpack-badge-image-outer{
float: left;
height:180px;
}
/*.view-my-ungrouped-badges .views-field-title{
margin-left:-18px;
}*/
/*.view-my-badges .views-field-title{
margin-left:-18px;
padding-right:15px !important;
padding-left:0px !important;
padding-bottom:0px !important;
padding-top:0px !important;
}*/
.view-my-badges .views-view-grid td,
.view-my-ungrouped-badges .views-view-grid td{
text-align:center;
}
.my-backpack-badge-image img {
padding: 10px 0 0 0 !important;
}
